.WeatherApp {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f0f0f0;
  font-family: Arial, sans-serif;
  padding: 20px;
}

.Weather-container {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 300px;
  text-align: center;
}

.Weather-container h1 {
  font-size: 36px;
  color: #333;
}

.Weather-container h2 {
  font-size: 28px;
  color: #333;
}

.Weather-container p {
  font-size: 18px;
  color: #666;
}

form {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

input {
  padding: 10px;
  margin-right: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  padding: 10px 15px;
  font-size: 16px;
  background-color: #00bfff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #00bfff;
}

.Forecast {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.Forecast-day {
  text-align: center;
}

.Forecast-day img {
  width: 50px;
  height: 50px;
}

.App-footer {
  margin-top: 30px;
  text-align: center;
  font-size: 14px;
  color: #333;
}

.App-footer a {
  color: #00bfff;
  text-decoration: none;
}

.App-footer a:hover {
  text-decoration: underline;
}
